{% extends 'super_admin/base6.html' %}
{% load static %}
{% block title %}KG News Portal/frontend panel{% endblock%}
{% block main %}

<br>

<div class="container" style="border: 5px solid maroon; padding:0px; background-color:#ac2d2d4f;">
<div class="row">
    <div class="col-md-12">
        <div style="height: 400px; overflow:hidden;"><img src="{{upro.cover.url}}" alt="" width="100%; style="position:absolute; "></div>
    </div>
    <div class="col-md-2">
        <div><h2 style="font-family:cursive; color:maroon;
    padding:15px;

   ">{{u.username}}</h2>

        <h3 style="font-family:cursive; color:maroon;
    padding:15px;

   ">{{u.mobile}}</h3>

        </div>
    </div>
    <div class="col-md-2">
        <div><h4 style="font-family:cursive; color:maroon;
    padding:15px; text-align:center;">{{upro.gender}}</h4></div>
    </div>
    <div class="col-md-4" >
        <div><center><img src="{{upro.image.url}}" alt="" width="300px" height="300px;" style="

    border: 5px solid maroon;
    border-radius: 50%;
    position:relative;
    padding:15px;
    background-color:white;

    margin-top: -150px;"></center>
        </div>
        </div>
    <div class="col-md-4">
        <div>
            <h4 style="font-family:cursive; color:maroon;
    padding:15px; text-align:center;

   ">{{u.email}}</h4>
            <h3 style="font-family:cursive; color:maroon;
    padding:15px;

   ">{{upro.dob}}</h3>
        </div>
    </div>
    <div class="col-md-12" style="margin-top:10px;">
        <div style="background-color: maroon; ">
            <h5 style="color:white; text-align:center; font-family:cursive; padding:15px;"><i class="fa fa-home"></i>{{upro.address}}</h5>
        </div>
    </div>
    <div class="col-md-12">
        <div>
            <h6 style="color:maroon; font-family:cursive; padding:10px;">{{upro.about}}</h6>
        </div>
    </div>
</div>
</div>

<!--<h1></h1>-->
<!--<h1 class="text-primary">{{u.password}}</h1>-->
<!--<h1>{{u.mobile}}</h1>-->
<!--<h1>{{u.email}}</h1>-->
<!--<p>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;profile wala area&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</p>-->

<!--<h1>Date of Birth: {{upro.dob}}</h1>-->
<!--<h1>Status : {{upro.status}}</h1>-->
<a class="btn btn-danger" href="{% url 'ad_logout'%}">logout</a>
<a href="{% url 'edit_adpro' upro.id%}" class="btn btn-info">Edit</a>
<!--<button type="button" class="btn btn-primary">Edit Profile</button>-->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
{% endblock %}





