body{
	margin:0px;
}
body  {
    background-image: url("../images/bg.jpg" ) ;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
.navbar{
	margin-bottom: 0px;
	 -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
     0%   {background-color: #ff8080;}
    25%  {background-color: #ff4d4d;}
    50%  {background-color: #ff3333;}
    100% {background-color: #660404!important;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color: #ff8080;}
    25%  {background-color: #ff4d4d;}
    50%  {background-color: #ff3333;}
    100% {background-color: #660404!important;}
}
.navbar-brand>img{
	width:80px;
	height: 80px;
}
.logo2{
    width: 60%;
}
@media screen and (min-width: 480px) {
  .logo2 {
     padding: 5px;
  }
}

.bg-dark {
    background-color: #660404!important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #1D6841;
    font-size: 18px;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #1D6841;
    font-size: 18px;
    background-color: #8f0606!important;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
    margin-right: 144px;
    margin-top: 50px;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 18px;
     padding: 20px;
     font-family: cursive;
}
.navbar-dark .navbar-nav .nav-link:hover {
     color: white;
     border-bottom: 2px solid white;
}
.book{

    background-color: #8f0606!important;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
     0%   {background-color: #ff8080;}
    25%  {background-color: #ff4d4d;}
    50%  {background-color: #ff3333;}
    100% {background-color: #660404!important;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color: #ff8080;}
    25%  {background-color: #ff4d4d;}
    50%  {background-color: #ff3333;}
    100% {background-color: #660404!important;}
}

.book:hover{

    background-color:#660404!important;
    cursor: pointer;

}
.footer {
    background-color: #0b0b0b;
    height: 300px;
    width: 100%;
}
.list>li{
    list-style: none;
    text-align: left;
    color: white;
    font-weight: 300;
}
.list>li:hover{
    list-style: none;
    text-align: left;
    color: #e23d3d;
    font-weight: 300;
    cursor: pointer;
}
.foot{
    border-bottom: 2px solid white;
    font-weight: 400;
}
.foot:hover{
    border-bottom: 2px solid #660404!important;
    font-weight: 400;
}
.head{
    text-align: left;
    margin-top: 40px;
    color: white;
}
.copy{
    background-color: #111111;
    color: white;
}
.tablist{
    margin-top: 200px;
}
.gallery{
    margin-top: 200px;
}
.g1{
    font-size: 50px;
    font-family: cursive;
    text-align: center;
    color: white;
}
.g2{
margin: 20px;
}

.g2:hover{
    opacity: 1;
    margin-top: 16px;
    margin-left: 14px;
    transition: 0.5s all;
}
.img-responsive:hover{
    transition: 0.5s all;
    width: 420px;
}
.fancybox-image, .fancybox-spaceball {
    background: transparent;
    border: 30px solid maroon;
    height: 100%;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none;
    padding: 0;
    position: absolute;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}
.container1{
    position: relative;
    display: inline-block;
}
.image{
    width: 97%;
    height: 97%;

}
@media screen and (min-width: 480px) {
  .image {
    display: block;
    width: 427px;
    height: 247px;
  }
}
.overlay{
    position:absolute;
    transition: all .7s ease;
    opacity: 0;
    background-color: gray;
}
.container1:hover .overlay{
    opacity: 1;
}
.text{
    color: white;
    font-family: sans-serif;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}
.overlayCross{
    height:0%;
    width:100%;
    bottom:0;
    background-color:#a54646;
}
.container1:hover .overlayCross{
    height: 30%;
    /*border-radius: 40px 40px 0px 0px;*/

}

.gall{
    width:410px;
    height: 210px;
}
@media screen and (min-width: 480px) {
  .gall {
    width: 610px;
    height: 310px;
  }
}