{% extends 'base.html' %}
{% load static %}
{% block title %}KG News Portal/About{% endblock%}
{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/hotel2.css' %}"> {% endblock %}
{% block main %}
<section>
<div class="container tablist" style="margin-top: 0px;">
  <h2 class="owners">OWNERS</h2><hr>
  <!-- Nav pills -->
  <div class="container"><div class="row"> <div class="col-sm-3"></div> <div class="col-sm-6">
<ul class="nav nav-pills " role="tablist" >
    <li class="nav-item">
      <a class="nav-link active" data-toggle="pill" href="#home">Prateek Khandelwal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#menu1">Shahil Raj</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#menu2">Aakash Dhanwani</a>
    </li>
  </ul>
</div></div></div>
<br>
<div>
<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class=" col-sm-6 b1">
  <div class="tab-content">
    <div id="home" class="container tab-pane active"><br>

    <center><img src="{% static 'images/prateek.jpg' %}" style="vertical-align: middle;
    border-style: none;
    border-radius: 50%;
    border: 3px solid gray;
    width: 200px;
    height: 200px;
    position: relative;
    "></center>
      <h3 class="namepro">Prateek Khandelwal</h3>
      <p class="namepro1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
    </div>
    <div id="menu1" class="container tab-pane fade"><br>
      <center><img src="{% static 'images/pro3.png' %}" style="vertical-align: middle;
    border-style: none;
    border-radius: 50%;
    border: 3px solid gray;
    position: relative;
    "></center>
      <h3 class="namepro">Shahil Raj</h3>
      <p class="namepro1">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet,eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
    </div>
    <div id="menu2" class="container tab-pane fade"><br>
      <center><img src="{% static 'images/pro4.jpg' %}" style="vertical-align: middle;
    border-style: none;
    border-radius: 50%;
    border: 3px solid gray;
    position: relative;
    "></center>
      <h3 class="namepro">Aakash Dhanwani</h3>
      <p class="namepro1">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet,eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
    </div>
  </div>
</div>
</div>
</div></div></div>
</section><br><br>
<div class="teambox">
<div class="container"><br><h1 class="owners1">Our Team</h1><br>
  <div class="row">
    <div class="col-sm-3"><center><div class="imgbg"><br><img src="{% static 'images/pro4.jpg' %}"><h5><br>Mr. Om Rathi</h5><p>HR Manager</p></div></center></div>
    <div class="col-sm-3"><center><div class="imgbg"><br><img src="{% static 'images/pro4.jpg' %}"><h5><br>Mr. Ravindra</h5><p>Senior Chef Manager</p></div></center></div>
    <div class="col-sm-3"><center><div class="imgbg"><br><img src="{% static 'images/pro4.jpg' %}"><h5><br>Mr. Pawan</h5><p>Asst. Manager</p></div></center></div>
    <div class="col-sm-3"><center><div class="imgbg"><br><img src="{% static 'images/pro4.jpg' %}"><h5><br>Mr. Rajiv</h5><p>Asst. Food Manager</p></div></center></div>

  </div>
 </div></div>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h4 class="head"><div class="foot">Our Stationary</div></h4>
        <ul class="list">
          <li><i class="fa fa-arrow-circle-right"></i>  KG Magzines</li>
          <li><i class="fa fa-arrow-circle-right"></i>  KG e-news</li>
          <li><i class="fa fa-arrow-circle-right"></i>  KG Story Books</li>
          <li><i class="fa fa-arrow-circle-right"></i>  KG Rashifal</li>
          <li><i class="fa fa-arrow-circle-right"></i>  KG Calendars</li>
          <li><i class="fa fa-arrow-circle-right"></i>  KG Publication Nobels</li>
        </ul>
      </div>
      <div class="col-lg-3 footer">
            <h4 class="head"><div class="foot">Our Brand Names</div></h4>
        <ul class="list">
          <li><i class="fa fa-arrow-circle-right"></i>  KG Print Media </li>
          <li><i class="fa fa-arrow-circle-right"></i>  KG Graphics World</li>
          <li><i class="fa fa-arrow-circle-right"></i>  KG e-patrika </li>
          <li><i class="fa fa-arrow-circle-right"></i>  KG Group of News Channels</li>
        </ul>
      </div>
      <div class="col-lg-3 footer">
            <h4 class="head"><div class="foot">Follow Us</div></h4>
        <ul class="list">
          <li><i class="fa fa-facebook-square fa-2x"></i></li>
          <li><i class="fa fa-instagram fa-2x"></i></li>
          <li><i class="fa fa-twitter-square fa-2x"></i></li>
          <li><i class="fa fa-youtube-square fa-2x"></i></li>
        </ul>
      </div>
      <div class="col-lg-3 footer">
            <h4 class="head"><div class="foot">KG News Portal, Corporate Office</div></h4>
        <ul class="list">
          <li><i class="fa fa-map-marker"></i>KG Group of News Media<br>22/21, Sector-43 <br>Jaipur(Raj.) </li>
          <li><i class="fa fa-phone"></i>  18001234599, +91 554588650
<i class="fa fa-phone"></i>+91 8448989085</li>
          <li><i class="fa fa-envelope"></i> KG_news@gmail.com</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copy"><center>copyright<i class="fa fa-copyright"></i>2018,KG News Portal</center></div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
{% endblock %}
