{% extends 'base.html' %}
{% load static %}
{% block title %}KG News Portal/Channnels{% endblock%}
{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/hotel3.css' %}">
{% endblock %}
{% block main %}

<section class="gallery">
		<div class="container-fluid">
		<div class="row">
            {% for i in all_ch1 %}
			<div class="col-sm-4">
				<div class="container1 g2"><a href="{% url 'portal' i.id%}"><img src='{{i.chimg.url}}' class="image img-responsive"></a><div class="overlay overlayCross">
                        <div class="text">{{ i.chname }}</div>
                     </div></div>
			</div>
            {% endfor %}
		</div>
	</div>
    <div class="container">
        <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-4">
            <center>
     {% if all_ch1.has_other_pages %}
            <ul class="pagination">
                {% if all_ch1.has_previous %}
                <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in all_ch1.paginator.page_range %}
                {% if all_ch1.number == i %}
                <li class="active"><span class="btn btn-primary" >{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                <li><a href="?page={{ i }}" class="btn btn-primary" style="background-color:#2f7cceeb; border-color:#2f7cceeb;">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if all_ch1.has_next %}
                <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
            {% endif %}
            </center>
        </div>
    </div>
    </div>
</section>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h4 class="head"><div class="foot">Our Stationary</div></h4>
        <ul class="list">
          <li><i class="fa fa-arrow-circle-right"></i>  KG Magzines</li>
          <li><i class="fa fa-arrow-circle-right"></i>  KG e-news</li>
          <li><i class="fa fa-arrow-circle-right"></i>  KG Story Books</li>
          <li><i class="fa fa-arrow-circle-right"></i>  KG Rashifal</li>
          <li><i class="fa fa-arrow-circle-right"></i>  KG Calendars</li>
          <li><i class="fa fa-arrow-circle-right"></i>  KG Publication Nobels</li>
        </ul>
      </div>
      <div class="col-lg-3 footer">
            <h4 class="head"><div class="foot">Our Brand Names</div></h4>
        <ul class="list">
          <li><i class="fa fa-arrow-circle-right"></i>  KG Print Media </li>
          <li><i class="fa fa-arrow-circle-right"></i>  KG Graphics World</li>
          <li><i class="fa fa-arrow-circle-right"></i>  KG e-patrika </li>
          <li><i class="fa fa-arrow-circle-right"></i>  KG Group of News Channels</li>
        </ul>
      </div>
      <div class="col-lg-3 footer">
            <h4 class="head"><div class="foot">Follow Us</div></h4>
        <ul class="list">
          <li><i class="fa fa-facebook-square fa-2x"></i></li>
          <li><i class="fa fa-instagram fa-2x"></i></li>
          <li><i class="fa fa-twitter-square fa-2x"></i></li>
          <li><i class="fa fa-youtube-square fa-2x"></i></li>
        </ul>
      </div>
      <div class="col-lg-3 footer">
            <h4 class="head"><div class="foot">KG News Portal, Corporate Office</div></h4>
        <ul class="list">
          <li><i class="fa fa-map-marker"></i>KG Group of News Media<br>22/21, Sector-43 <br>Jaipur(Raj.) </li>
          <li><i class="fa fa-phone"></i>  18001234599, +91 554588650
<i class="fa fa-phone"></i>+91 8448989085</li>
          <li><i class="fa fa-envelope"></i> KG_news@gmail.com</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copy"><center>copyright<i class="fa fa-copyright"></i>2018,KG News Portal</center></div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>
{% endblock %}